.skills-icon {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    color: rgba(139, 104, 15, 0.477);
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    transform: rotateY(0deg) translateZ(30px);
    transition: all 0.5s ease;
}

.skills-icon:hover .hero {
    transform: rotateY(180deg) translateZ(30px);
}